*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: crimson;
}
.card {
    width: 700px;
    background: #fff;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
  
}
/* Scrollbar */
::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: radial-gradient(#3f5efb,#fc466b);
    border-radius: 100px;
}